*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
p,a,ol,li{
    font-family: 'Lobster', cursive;
}
a{
    cursor: pointer;
}
#navbar{
    width: 100%;
    top: 0;
    height: 120px;
    background-color: #0075bd;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.24);
    color: white;
    display: inline-flex;
    z-index: 100000;
}
#navbar h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    font-size: 40px;
}
#logo{
    width: 90px;
    height: 90px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
}
.links{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25%;
}
.links a, ul{
   color: white;
    padding: 50px;
    font-size: 25px;
}
.links a:hover{
color: gold;
    text-decoration: none;
}
.mission{
    margin-top: 200px;
}

.menu-items img{
    width: 50px;
    height: 50px;
    right: 0;
}

.company{
    width: 100%;
    top: 0;
    height: 500vh;
    background-image: url(./images/Apple_park_cupertino_2019.jpg);
    background-position: left;
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;

}

table, th, td, tr{
    border: 2px solid black; border-collapse: collapse;
    text-align: center;
}

video{
    width: 100%;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul {
    list-style: none;
}
.timeline ul li {
    padding: 20px;
    background-color: #1F1F1F;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.timeline ul li:last-child {
    margin-bottom: 0;
}
.timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #0075bd;
}
.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}
.timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
    .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: #D10A0A;
    }
    .timeline ul li {
        width: 75%;
        position: relative;
        margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-204px);
        border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(204px);
        border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #D10A0A;
        top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
        transform: translate(50%, -50%);
        right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
        transform: translate(-50%, -50%);
        left: -30px;
    }
    .timeline-content .date {
        position: absolute;
        top: -30px;
    }
    .timeline ul li:hover::before {
        background-color: #0075bd;
    }
}

@media only screen and (max-width: 1150px) and ( min-width: 768px) {

    .timeline ul li {
        width: 50%;
    }
    .timeline ul li:nth-child(odd) {
        transform: translateX(-30px);
    }
    .timeline ul li:nth-child(even) {
        transform: translateX(30px);
    }
}



::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

progress {
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    z-index: 100000000000000;
    transform: translateY(8px);
}

progress::-webkit-progress-bar {
    background-color: transparent;
    z-index: 1000000000000000;
}

progress::-webkit-progress-value {
    background-color: #0075bd;
    z-index: 1000000000000000;
}

progress::-moz-progress-bar {
    background-color: #0075bd;
    z-index: 1000000000000000;
}

.progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    display: block;
    z-index: 1000000000000000;
}

.progress-bar {
    background-color: #D4AF37;
    width: 0%;
    display: block;
    height: inherit;
    z-index: 10000000000000000;
}


